# backend/.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/
.poetry/

# Environment variables
.env
.env.*

# Flask instance folder
instance/

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# Pytest / test cache
.cache/
.pytest_cache/

# Celery beat schedule file
celerybeat-schedule

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# Build / dist
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / test output
test-output/
nosetests.xml
junit*.xml

# Static files
app/staticfiles/
staticfiles/

# System files
.DS_Store
Thumbs.db
